.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.destination{
  font-size: 12px;
}
.singleDestination{
  display:inline-block;
  margin-right: 6px;
  width:150px;
  text-align: initial;
  vertical-align: top;
}
.startAgain,.findFalcone{
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 16px;
}
css-2b097c-container {
  position: relative;
  box-sizing: border-box;
  /* background-color: black; */
  color: black !important;
  font-size: 12px !important;
  /* text-align: center; */
}
/* .home{
  text-align: center;
  margin: 0 auto;
  width: 100%;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
